<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List App</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/semantic/out/semantic.css">
</head>

<body>
    <div class="ui container">
        <h1 class="ui header">To-do List</h1>
        <!-- todo list UI goes here -->
    </div>
    <script src="/scripts/script.js"></script>
</body>

</html>
